.c-btn {
  border-radius: 0.2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  color: color(white);
  display: inline-flex;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  line-height: 1;
  padding: 1.8rem 2.2rem;
  text-align: center;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
