.c-wysiwyg {
  h1,
  h2 {
    color: #007cff;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 3rem;

    @include iota-breakpoint(md) {
      font-size: 4rem;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;

    & strong {
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 5rem;
    }
  }
}
