$iota-base-initialize-box-sizing: 'border-box';
$iota-base-initialize-heading-size: true;
$iota-base-initialize-form-elements: true;
$iota-base-initialize-html5-form-elements: true;

@import 'node_modules/iotacss/base/initialize';

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: color(black);
  font: 400 1.6rem/1.2 'Open Sans', sans-serif;
  height: 100%;
}

img {
  display: block;
}
